# Now You Code 2: Movie Goers Zipcode Lookup

The movie company has hired you to help them enhance their data set. They would like to know which **US State** each of the respondents in their movie goers survey comes from, and ask you to produce a list of states and a count of movie goers from that state.

The movie goers dataset `'NYC1-moviegoers.csv'` from NYC1 contains `'zip_code'` but not city and state.

We will load another pandas dataset, **the Zipcode Database** here: 
`'https://raw.githubusercontent.com/mafudge/datasets/master/zipcodes/free-zipcode-database-Primary.csv'` This data set contains Zip codes with primary city, state and approximate location.

Your goal is to figure out how to use the `DataFrame.merge()` method to combine these two data sets on matching zip code values.
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html 

After you merge the dataset, then you can complete the task and provide a count of movie goers by state.

In [2]:
# import pandas
import pandas as pd

# this turns off warning messages
import warnings
warnings.filterwarnings('ignore')

### Part 1: Load the movie goers dataset into a Pandas DataFrame

Write code to load the movie goers dataset (in csv format) into the variable `moviegoers` and then print the first few rows.

In [3]:
moviegoers = pd.read_csv('NYC1-moviegoers.csv')
moviegoers.head()
moviegoers.sample(5)

     user_id  age gender  occupation zip_code
196      197   55      M  technician    75094
401      402   30      M    engineer    95129
14        15   49      F    educator    97301
862      863   17      M     student    60089
569      570   26      M    educator    14627

### Part 2: Load the zip code database into a Pandas DataFrame

Write code to load the movie goers dataset (in csv format) into the variable `zipcodes` and then print the first few rows. 

The database (in csv format) can be found here: `'https://raw.githubusercontent.com/mafudge/datasets/master/zipcodes/free-zipcode-database-Primary.csv'`  

**HINT:**  You must include the named argument `dtype={'Zipcode': object}` to the `read_csv()` method to force the `Zipcode` series to be the same type as in the `moviegoers` dataframe.

In [4]:
zipcodes= pd.read_csv('https://raw.githubusercontent.com/mafudge/datasets/master/zipcodes/free-zipcode-database-Primary.csv', dtype={'Zipcode': object})
zipcodes.head()

,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages
0,00705,STANDARD,AIBONITO,PR,PRIMARY,18.14,-66.26,NA-US-PR-AIBONITO,False,NaN,NaN,NaN
1,00610,STANDARD,ANASCO,PR,PRIMARY,18.28,-67.14,NA-US-PR-ANASCO,False,NaN,NaN,NaN
2,00611,PO BOX,ANGELES,PR,PRIMARY,18.28,-66.79,NA-US-PR-ANGELES,False,NaN,NaN,NaN
3,00612,STANDARD,ARECIBO,PR,PRIMARY,18.45,-66.73,NA-US-PR-ARECIBO,False,NaN,NaN,NaN
4,00601,STANDARD,ADJUNTAS,PR,PRIMARY,18.16,-66.72,NA-US-PR-ADJUNTAS,False,NaN,NaN,NaN

### Part 3: Merge both data sets into a single combined DataFrame

Next we must merge the `moviegoers` DataFrame with the `zipcodes` DataFrame. To do this you must specify which zip code column from `moviegoers` matches the zip cod column from `zipcodes` (as you can see they have different names).

```
Help on method merge in module pandas.core.frame:

merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False) method of pandas.core.frame.DataFrame instance
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.
```

The type of merge we will do is an `inner`, because we only want rows when the zip codes match. This is called an *intersection*.

To complete a merge we must specify the column names from the left and right DataFrames.  Most of the code has been written for you. Your task is to complete the columns for the merge, replacing `????` with the appropriate column names.

In [7]:
merge = moviegoers.merge(zipcodes, how='inner', on=None, left_on='zip_code', right_on='Zipcode', left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)

### Part 4: Merge both data sets into a single combined DataFrame

Finally, produce the desired output a list of states and counts of movie goers from the survey in each state.

Here's the top 5 for reference:

```
CA    116
MN     78
NY     60
TX     51
IL     50
```

In [9]:
merge.State.value_counts()

CA    116
MN     78
NY     60
TX     51
IL     50
PA     34
OH     32
MD     27
VA     27
WA     24
FL     24
MI     23
WI     22
OR     20
CO     20
GA     19
NC     19
MO     17
AZ     14
IA     14
DC     14
TN     12
SC     11
KY     11
OK      9
UT      9
IN      9
ID      7
LA      6
NE      6
AK      5
KS      4
DE      3
WV      3
AL      3
NV      3
MS      3
NM      2
ND      2
HI      2
MT      2
SD      1
AP      1
AR      1
WY      1
Name: State, dtype: int64