# Now You Code 2: Movie Goers Zipcode Lookup

The movie company has hired you to help them enhance their data set. They would like to know which **US State** each of the respondents in their movie goers survey comes from, and ask you to produce a list of states and a count of movie goers from that state.

The movie goers dataset `'NYC1-moviegoers.csv'` from NYC1 contains `'zip_code'` but not city and state.

We will load another pandas dataset, **the Zipcode Database** here: 
`'https://raw.githubusercontent.com/mafudge/datasets/master/zipcodes/free-zipcode-database-Primary.csv'` This data set contains Zip codes with primary city, state and approximate location.

Your goal is to figure out how to use the `DataFrame.merge()` method to combine these two data sets on matching zip code values.
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html 

After you merge the dataset, then you can complete the task and provide a count of movie goers by state.

In [7]:
# import pandas
import pandas as pd

# this turns off warning messages
import warnings
warnings.filterwarnings('ignore')

### Part 1: Load the movie goers dataset into a Pandas DataFrame

Write code to load the movie goers dataset (in csv format) into the variable `moviegoers` and then print the first few rows.

In [8]:
moviegoers = pd.read_csv('NYC1-moviegoers.csv')
moviegoers.head()
moviegoers.sample(5)

     user_id  age gender     occupation zip_code
514      515   53      M      marketing    49508
421      422   26      M  entertainment    94533
632      633   35      M     programmer    55414
628      629   46      F          other    44224
617      618   15      F        student    44212

### Part 2: Load the zip code database into a Pandas DataFrame

Write code to load the movie goers dataset (in csv format) into the variable `zipcodes` and then print the first few rows. 

The database (in csv format) can be found here: `'https://raw.githubusercontent.com/mafudge/datasets/master/zipcodes/free-zipcode-database-Primary.csv'`  

**HINT:**  You must include the named argument `dtype={'Zipcode': object}` to the `read_csv()` method to force the `Zipcode` series to be the same type as in the `moviegoers` dataframe.

In [9]:
zipcodes= pd.read_csv('https://raw.githubusercontent.com/mafudge/datasets/master/zipcodes/free-zipcode-database-Primary.csv', dtype={'Zipcode': object})
zipcodes.head()

,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages
0,00705,STANDARD,AIBONITO,PR,PRIMARY,18.14,-66.26,NA-US-PR-AIBONITO,False,NaN,NaN,NaN
1,00610,STANDARD,ANASCO,PR,PRIMARY,18.28,-67.14,NA-US-PR-ANASCO,False,NaN,NaN,NaN
2,00611,PO BOX,ANGELES,PR,PRIMARY,18.28,-66.79,NA-US-PR-ANGELES,False,NaN,NaN,NaN
3,00612,STANDARD,ARECIBO,PR,PRIMARY,18.45,-66.73,NA-US-PR-ARECIBO,False,NaN,NaN,NaN
4,00601,STANDARD,ADJUNTAS,PR,PRIMARY,18.16,-66.72,NA-US-PR-ADJUNTAS,False,NaN,NaN,NaN

### Part 3: Merge both data sets into a single combined DataFrame

Next we must merge the `moviegoers` DataFrame with the `zipcodes` DataFrame. To do this you must specify which zip code column from `moviegoers` matches the zip cod column from `zipcodes` (as you can see they have different names).

```
Help on method merge in module pandas.core.frame:

merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False) method of pandas.core.frame.DataFrame instance
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.
```

The type of merge we will do is an `inner`, because we only want rows when the zip codes match. This is called an *intersection*.

To complete a merge we must specify the column names from the left and right DataFrames.  Most of the code has been written for you. Your task is to complete the columns for the merge, replacing `????` with the appropriate column names.

In [10]:
merge = moviegoers.merge(zipcodes, how='inner', on=None, left_on='zip_code', right_on='Zipcode', left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
merge

,user_id,age,gender,occupation,zip_code,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages
0,1,24,M,technician,85711,85711,STANDARD,TUCSON,AZ,PRIMARY,32.21,-110.88,NA-US-AZ-TUCSON,False,17554.0,29028.0,5.068503e+08
1,415,39,M,educator,85711,85711,STANDARD,TUCSON,AZ,PRIMARY,32.21,-110.88,NA-US-AZ-TUCSON,False,17554.0,29028.0,5.068503e+08
2,2,53,F,other,94043,94043,STANDARD,MOUNTAIN VIEW,CA,PRIMARY,37.41,-122.05,NA-US-CA-MOUNTAIN VIEW,False,14062.0,22824.0,1.083207e+09
3,29,41,M,programmer,94043,94043,STANDARD,MOUNTAIN VIEW,CA,PRIMARY,37.41,-122.05,NA-US-CA-MOUNTAIN VIEW,False,14062.0,22824.0,1.083207e+09
4,105,24,M,engineer,94043,94043,STANDARD,MOUNTAIN VIEW,CA,PRIMARY,37.41,-122.05,NA-US-CA-MOUNTAIN VIEW,False,14062.0,22824.0,1.083207e+09
5,3,23,M,writer,32067,32067,PO BOX,ORANGE PARK,FL,PRIMARY,30.16,-81.70,NA-US-FL-ORANGE PARK,False,545.0,853.0,1.621657e+07
6,4,24,M,technician,43537,43537,STANDARD,MAUMEE,OH,PRIMARY,41.57,-83.65,NA-US-OH-MAUMEE,False,14432.0,24370.0,6.686273e+08
7,5,33,F,other,15213,15213,STANDARD,PITTSBURGH,PA,PRIMARY,40.43,-79.97,NA-US-PA-PITTSBURGH,False,6666.0,8837.0,2.003182e+08
8,6,42,M,executive,98101,98101,STANDARD,SEATTLE,WA,PRIMARY,47.61,-122.33,NA-US-WA-SEATTLE,False,6245.0,7771.0,3.217270e+08
9,7,57,M,administrator,91344,91344,STANDARD,GRANADA HILLS,CA,PRIMARY,34.29,-118.50,NA-US-CA-GRANADA HILLS,False,23384.0,41602.0,1.102040e+09
10,331,33,M,entertainment,91344,91344,STANDARD,GRANADA HILLS,CA,PRIMARY,34.29,-118.50,NA-US-CA-GRANADA HILLS,False,23384.0,41602.0,1.102040e+09
11,10,53,M,lawyer,90703,90703,STANDARD,CERRITOS,CA,PRIMARY,33.86,-118.05,NA-US-CA-CERRITOS,False,24073.0,44208.0,1.238371e+09
12,11,39,F,other,30329,30329,STANDARD,ATLANTA,GA,PRIMARY,33.82,-84.32,NA-US-GA-ATLANTA,False,11542.0,18677.0,4.480111e+08
13,13,47,M,educator,29206,29206,STANDARD,COLUMBIA,SC,PRIMARY,34.00,-81.03,NA-US-SC-COLUMBIA,False,8882.0,15489.0,4.179884e+08
14,14,45,M,scientist,55106,55106,STANDARD,SAINT PAUL,MN,PRIMARY,44.94,-93.10,NA-US-MN-SAINT PAUL,False,21868.0,36448.0,6.356612e+08
15,300,26,F,programmer,55106,55106,STANDARD,SAINT PAUL,MN,PRIMARY,44.94,-93.10,NA-US-MN-SAINT PAUL,False,21868.0,36448.0,6.356612e+08
16,609,13,F,student,55106,55106,STANDARD,SAINT PAUL,MN,PRIMARY,44.94,-93.10,NA-US-MN-SAINT PAUL,False,21868.0,36448.0,6.356612e+08
17,15,49,F,educator,97301,97301,STANDARD,SALEM,OR,PRIMARY,44.90,-122.92,NA-US-OR-SALEM,False,19211.0,33441.0,4.967644e+08
18,350,32,M,student,97301,97301,STANDARD,SALEM,OR,PRIMARY,44.90,-122.92,NA-US-OR-SALEM,False,19211.0,33441.0,4.967644e+08
19,890,32,M,student,97301,97301,STANDARD,SALEM,OR,PRIMARY,44.90,-122.92,NA-US-OR-SALEM,False,19211.0,33441.0,4.967644e+08
20,16,21,M,entertainment,10309,10309,STANDARD,STATEN ISLAND,NY,PRIMARY,40.58,-74.14,NA-US-NY-STATEN ISLAND,False,13982.0,25371.0,8.058242e+08
21,18,35,F,other,37212,37212,STANDARD,NASHVILLE,TN,PRIMARY,36.17,-86.78,NA-US-TN-NASHVILLE,False,6761.0,9599.0,3.848726e+08
22,20,42,F,homemaker,95660,95660,STANDARD,NORTH HIGHLANDS,CA,PRIMARY,38.66,-121.37,NA-US-CA-NORTH HIGHLANDS,False,12192.0,21675.0,3.103610e+08
23,21,26,M,writer,30068,30068,STANDARD,MARIETTA,GA,PRIMARY,33.95,-84.54,NA-US-GA-MARIETTA,False,15207.0,28538.0,1.156659e+09
24,22,25,M,writer,40206,40206,STANDARD,LOUISVILLE,KY,PRIMARY,38.22,-85.74,NA-US-KY-LOUISVILLE,False,9966.0,14856.0,3.804385e+08
25,23,30,F,artist,48197,48197,STANDARD,YPSILANTI,MI,PRIMARY,42.24,-83.62,NA-US-MI-YPSILANTI,False,26129.0,43735.0,1.027227e+09
26,354,29,F,librarian,48197,48197,STANDARD,YPSILANTI,MI,PRIMARY,42.24,-83.62,NA-US-MI-YPSILANTI,False,26129.0,43735.0,1.027227e+09
27,24,21,F,artist,94533,94533,STANDARD,FAIRFIELD,CA,PRIMARY,38.28,-122.00,NA-US-CA-FAIRFIELD,False,28284.0,51145.0,1.053583e+09
28,422,26,M,entertainment,94533,94533,STANDARD,FAIRFIELD,CA,PRIMARY,38.28,-122.00,NA-US-CA-FAIRFIELD,False,28284.0,51145.0,1.053583e+09
29,25,39,M,engineer,55107,55107,STANDARD,SAINT PAUL,MN,PRIMARY,44.94,-93.10,NA-US-MN-SAINT PAUL,False,6009.0,10102.0,1.869889e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,896,28,M,writer,91505,91505,STANDARD,BURBANK,CA,PRIMARY,34.17,-118.34,NA-US-CA-BURBANK,False,16193.0,25892.0,8.328821e+08
792,897,30,M,other,33484,33484,STANDARD,DELRAY BEACH,FL,PRIMARY,26.45,-80.08,NA-US-FL-DELRAY BEACH,False,11799.0,17552.0,2.433182e+08
793,900,60,M,retired,18505,18505,STANDARD,SCRANTON,PA,PRIMARY,41.40,-75.66,NA-US-PA-SCRANTON,False,9565.0,15444.0,2.572213e+08
794,902,45,F,artist,97203,97203,STANDARD,PORTLAND,OR,PRIMARY,45.61,-122.74,NA-US-OR-PORTLAND,False,12253.0,19921.0,4.069400e+08
795,903,28,M,educator,20850,20850,STANDARD,ROCKVILLE,MD,PRIMARY,39.08,-77.15,NA-US-MD-ROCKVILLE,False,21446.0,37165.0,1.500086e+09
796,904,17,F,student,61073,61073,STANDARD,ROSCOE,IL,PRIMARY,42.41,-89.00,NA-US-IL-ROSCOE,False,9583.0,18117.0,4.935098e+08
797,905,27,M,other,30350,30350,STANDARD,ATLANTA,GA,PRIMARY,33.97,-84.32,NA-US-GA-ATLANTA,False,15905.0,25506.0,9.980255e+08
798,906,45,M,librarian,70124,70124,STANDARD,NEW ORLEANS,LA,PRIMARY,30.06,-89.93,NA-US-LA-NEW ORLEANS,False,6943.0,11455.0,3.993478e+08
799,908,44,F,librarian,68504,68504,STANDARD,LINCOLN,NE,PRIMARY,40.81,-96.68,NA-US-NE-LINCOLN,False,7516.0,11396.0,2.049966e+08
800,909,50,F,educator,53171,53171,PO BOX,SOMERS,WI,PRIMARY,42.58,-87.89,NA-US-WI-SOMERS,False,NaN,NaN,NaN
801,910,28,M,healthcare,29301,29301,STANDARD,SPARTANBURG,SC,PRIMARY,34.94,-81.92,NA-US-SC-SPARTANBURG,False,13226.0,23385.0,4.516295e+08
802,911,37,F,writer,53210,53210,STANDARD,MILWAUKEE,WI,PRIMARY,43.06,-87.96,NA-US-WI-MILWAUKEE,False,11228.0,18640.0,2.886779e+08
803,913,27,M,student,76201,76201,STANDARD,DENTON,TX,PRIMARY,33.21,-97.13,NA-US-TX-DENTON,False,8336.0,11718.0,1.857307e+08
804,915,50,M,entertainment,60614,60614,STANDARD,CHICAGO,IL,PRIMARY,41.83,-87.68,NA-US-IL-CHICAGO,False,34622.0,47140.0,NaN
805,917,22,F,student,20006,20006,STANDARD,WASHINGTON,DC,PRIMARY,38.89,-77.03,NA-US-DC-WASHINGTON,False,826.0,1044.0,4.116180e+07
806,918,40,M,scientist,70116,70116,STANDARD,NEW ORLEANS,LA,PRIMARY,30.06,-89.93,NA-US-LA-NEW ORLEANS,False,4612.0,6580.0,1.294656e+08
807,920,30,F,artist,90008,90008,STANDARD,LOS ANGELES,CA,PRIMARY,34.00,-118.34,NA-US-CA-LOS ANGELES,False,13333.0,21174.0,4.266898e+08
808,921,20,F,student,98801,98801,STANDARD,WENATCHEE,WA,PRIMARY,47.37,-120.35,NA-US-WA-WENATCHEE,False,16933.0,30299.0,5.916501e+08
809,924,29,M,other,11753,11753,STANDARD,JERICHO,NY,PRIMARY,40.78,-73.54,NA-US-NY-JERICHO,False,6522.0,12072.0,6.395171e+08
810,925,18,F,salesman,49036,49036,STANDARD,COLDWATER,MI,PRIMARY,41.94,-85.00,NA-US-MI-COLDWATER,False,10391.0,18378.0,3.037791e+08
811,927,23,M,programmer,55428,55428,STANDARD,MINNEAPOLIS,MN,PRIMARY,44.96,-93.26,NA-US-MN-MINNEAPOLIS,False,14155.0,23451.0,4.915491e+08
812,931,60,M,educator,33556,33556,STANDARD,ODESSA,FL,PRIMARY,28.20,-82.59,NA-US-FL-ODESSA,False,9885.0,19062.0,6.654544e+08
813,933,28,M,student,48105,48105,STANDARD,ANN ARBOR,MI,PRIMARY,42.27,-83.73,NA-US-MI-ANN ARBOR,False,15149.0,25072.0,9.017334e+08
814,935,42,M,doctor,66221,66221,STANDARD,OVERLAND PARK,KS,PRIMARY,38.90,-94.68,NA-US-KS-OVERLAND PARK,False,6164.0,12706.0,6.561749e+08
815,936,24,M,other,32789,32789,STANDARD,WINTER PARK,FL,PRIMARY,28.59,-81.34,NA-US-FL-WINTER PARK,False,11484.0,18789.0,8.602018e+08
816,938,38,F,technician,55038,55038,STANDARD,HUGO,MN,PRIMARY,45.15,-92.96,NA-US-MN-HUGO,False,9470.0,17873.0,5.519424e+08
817,939,26,F,student,33319,33319,STANDARD,FORT LAUDERDALE,FL,PRIMARY,26.14,-80.13,NA-US-FL-FORT LAUDERDALE,False,22648.0,35782.0,6.018403e+08
818,941,20,M,student,97229,97229,STANDARD,PORTLAND,OR,PRIMARY,45.55,-122.81,NA-US-OR-PORTLAND,False,24907.0,47620.0,1.903461e+09
819,942,48,F,librarian,78209,78209,STANDARD,SAN ANTONIO,TX,PRIMARY,29.45,-98.50,NA-US-TX-SAN ANTONIO,False,18516.0,30337.0,1.117996e+09
820,943,22,M,student,77841,77841,PO BOX,COLLEGE STATION,TX,PRIMARY,30.60,-96.31,NA-US-TX-COLLEGE STATION,False,291.0,400.0,8.870991e+06

### Part 4: Merge both data sets into a single combined DataFrame

Finally, produce the desired output a list of states and counts of movie goers from the survey in each state.

Here's the top 5 for reference:

```
CA    116
MN     78
NY     60
TX     51
IL     50
```

In [11]:
merge.State.value_counts()

CA    116
MN     78
NY     60
TX     51
IL     50
PA     34
OH     32
VA     27
MD     27
FL     24
WA     24
MI     23
WI     22
OR     20
CO     20
GA     19
NC     19
MO     17
DC     14
IA     14
AZ     14
TN     12
KY     11
SC     11
OK      9
UT      9
IN      9
ID      7
LA      6
NE      6
AK      5
KS      4
AL      3
MS      3
NV      3
DE      3
WV      3
MT      2
HI      2
NM      2
ND      2
WY      1
SD      1
AR      1
AP      1
Name: State, dtype: int64