## Load the 7 day forecast from DarkSky.Net into Pandas!

In this example you will go back to https://api.darksky.net and use your API key to get the current weather forecast for:

Syrcause, NY `(lat=43.0481221, lng=-76.1474244)`

In the forecast output, find the daily 7 day forecast (it's the current conditions + 7 days out == 8 days total)

Extract the forecast data and load it into Pandas, then display the Time of the forecast, and high and low temperatures:

**HINT**: To get the times to show up in a human-readable format, you must convert the DarkSky API time (which is in unix timestamp format) to a Pandas Timestamp date/time format. The `pd.to_datetime()` function can help you:

```
time = 1489402800 # this the time format Darksky returns
readable_time = pd.to_datetime(time, unit='s') ## s stands for unix timestamp format
readable_time

Timestamp('2017-03-13 11:00:00')
```

Just replace the `['time']` column in the `DataFrame` with the new version.

In [1]:
# Todo write code here
# import modules
# request api
# get daily weather for seven days
# partition weather

In [7]:
# Todo Write Plan Here
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import requests

url= 'https://api.darksky.net/forecast/a79289bd8d9e707b0bd6d61cbe4cb4ee/43.048122,-76.147424' 
response = requests.get(url)
weather = response.json()
sevendays = weather['daily']['data']
sevenday_df=pd.DataFrame(sevendays)
time = sevenday_df['time']
convert = pd.to_datetime(time, unit='s')
sevenday_df['time'] =  convert
sevenday_df[['time','temperatureMax','temperatureMin']]

                 time  temperatureMax  temperatureMin
0 2017-04-20 04:00:00           59.00           49.18
1 2017-04-21 04:00:00           65.67           48.94
2 2017-04-22 04:00:00           53.31           42.21
3 2017-04-23 04:00:00           64.54           37.81
4 2017-04-24 04:00:00           66.25           35.40
5 2017-04-25 04:00:00           71.06           44.35
6 2017-04-26 04:00:00           78.07           53.49
7 2017-04-27 04:00:00           79.67           54.84