## Now You Code 2: Syracuse Crime Data

In this second now you code you will explore the plot.ly engine in detail using Syracuse, NY FBI crime data.

In [1]:
import plotly.plotly as py    
import plotly.graph_objs as go  
import cufflinks as cf
import pandas as pd

In [2]:
crime = pd.read_csv('https://raw.githubusercontent.com/mafudge/datasets/master/crime/syracuse-crime-data-1985-2012.csv')
crime.sample(10)

,Year,Months,Population,Violent crime total,Murder and nonnegligent Manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime total,Burglary,...,Violent Crime rate,Murder and nonnegligent manslaughter rate,Forcible rape rate,Robbery rate,Aggravated assault rate,Property crime rate,Burglary rate,Larceny-theft rate,Motor vehicle theft rate,Unnamed: 21
11,1996,12,160033,1398,15,62,579,742,9601,2821,...,873.6,9.4,38.7,361.8,463.7,5999.4,1762.8,3711.7,524.9,NaN
18,2003,12,145411,1383,17,44,477,845,7773,1975,...,951.1,11.7,30.3,328.0,581.1,5345.5,1358.2,3171.7,815.6,NaN
1,1986,12,164560,1108,9,61,552,486,11097,3646,...,673.3,5.5,37.1,335.4,295.3,6743.4,2215.6,4225.8,302.0,NaN
10,1995,12,159603,1467,18,84,633,732,9873,3048,...,919.2,11.3,52.6,396.6,458.6,6186.0,1909.7,3779.4,496.9,NaN
22,2007,12,139880,1435,19,67,446,903,5964,1785,...,1025.9,13.6,47.9,318.8,645.6,4263.7,1276.1,2586.5,401.1,NaN
15,2000,12,147306,1565,18,47,452,1048,7565,1846,...,1062.4,12.2,31.9,306.8,711.4,5135.6,1253.2,3354.2,528.2,NaN
19,2004,12,144278,1312,16,68,447,781,6609,1678,...,909.4,11.1,47.1,309.8,541.3,4580.7,1163.0,2628.3,789.4,NaN
7,1992,12,165029,1512,13,85,645,769,10326,3023,...,916.2,7.9,51.5,390.8,466.0,6257.1,1831.8,4016.9,408.4,NaN
3,1988,12,160353,1366,16,103,537,710,10894,3649,...,851.9,10.0,64.2,334.9,442.8,6793.8,2275.6,4182.6,335.5,NaN
20,2005,12,143306,1570,19,73,554,924,6486,1867,...,1095.6,13.3,50.9,386.6,644.8,4526.0,1302.8,2539.3,683.9,NaN

In [3]:
# Make a line plot of population over the years, using cufflinks crime.iplot()
# set the titles on x "Year, Y "Population" and cart title " Syracuse Population" 
# TODO: replace the ???? with appropriate values to render the chart
crime.iplot(kind = 'scatter', x = 'Year', y = 'Population', title='Population of Syracuse per Year',xTitle='Year',yTitle='Population')

In [4]:
# Now plot the same thing using plot.ly without cufflinks, again filling in the templates. Using plot.ly takes more effort but
# you have more control / flexibility over how the plots are rendered.
plot_data = [
    go.Scatter(x=crime['Year'], y=crime['Population'], mode="lines+markers", name="Population of Syracuse each year", marker=dict(color='red')),
]

py.iplot({ 'data': plot_data,
            'layout': {
               'title': 'Population of Syracuse each year',
               'xaxis': {
                 'title': 'Year'},
               'yaxis': {
                'title': 'Population'}
        }})

In [5]:
# Now create a line plot of "Robbery rate" versus "Motor vehicle theft rate" over time.
# NOTE: you will need two series in your plot_data 
crime.iplot(kind = 'scatter', x = 'Year', y = ['Robbery rate', 'Motor vehicle theft rate'], title='Crimes Rate in Syracuse',xTitle='Year',yTitle='Crimes')

In [15]:
# Finally write a program to ask for a crime metric like "Robbery" / "Burglary" / "Manslaughter" etc as input, 
# then renders a plot of that metric over time as output !
# Note: check to make sure the entered crime metric is in the list of Pandas columns before you attempt to plot. 
# It might be a good idea to print the column names before you plot.
# if it is not you should print "That is not a crime metric"
plot=None
try:
    axis = input(str('Enter a Crime Metric to plot: '))
    plot = crime.iplot(kind = 'scatter', x = 'Year', y = axis, title='Crimes Rate in Syracuse', xTitle='Year',yTitle='Crimes')
    
except KeyError:
    print('That is not a crime metric!')
    
plot

Enter a Crime Metric to plot: no
That is not a crime metric!